/* Navbar */
.navbar {
  box-shadow: 2px 2px 4px 5px #ccc;
}
.navbar li {
  padding: 0px 10px;
  font-size: large;
  opacity: 0.8;
}
.navbar li:hover {
  opacity: 1;
}
.navbar ul {
  padding-right: 5%;
}
#navbarHomeButton {
  font-family: sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  padding: 5px;
  margin-right: 20px;
  margin-top: 5px;
  opacity: 0.85;
}
#navbarHomeButton:hover {
  opacity: 1;
  
}
nav {
  font-weight: 700;
  background-color: #ccc;
}

/* Footer */
footer {
  padding: 10px 0px;
}
.footer {
  text-align: center;
  background-color: lightgray;
}
.footer a {
  color: gray;
  line-height: 25px;
  text-decoration: none;
}
.footer a:hover {
  color: rgb(109, 108, 108);
  text-decoration: underline;
}
.footer p {
  color: rgb(151, 151, 151);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Page Content */
.content {
 padding: 10px 5%;
 flex: 1;
}
.content h1 {
  padding: 20px 5px;
  font-weight: bold;
}

/* About */
.about-content {
  display: inline-flex;
  padding-left: 30px;
  padding-top: 30px;
}
.about-content a {
  color: inherit;
  text-decoration: none;
}
.about-content a:hover {
  color: inherit;
  text-decoration: underline;
}
.about-content p {
  width: 50%;
  padding-left: 15px;
}
.about-photo {
  margin-right: 10%;
}
.about-photo img {
  width: 300px;
}

/* Art List */
.art-icon {
  position: relative;
  width: 90%;
  max-width: 600px;
  height: fit-content;
}
.art-icon img {
  display: block;
  width: 100%;
  height: auto;
}
.art-overlay {
  position: absolute; 
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.art-icon:hover .art-overlay {
  opacity: 1;
}
.art-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding-left: 30px;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .art-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 30px;
    align-items: center;
  }
}

/* Carousel */
.carousel-inner img {
  height: 85vh;
  max-width: 90vw;
}
#carouselProjectTitle {
  text-align: left;
  margin-left: 10%;
  padding-top: 15px;
}
#carouselBody {
  display: grid;
  grid-template-areas:
    "title title exit"
    "carousel carousel carousel";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 5fr 5fr 1fr;
}
#carouselExitButton {
  grid-area: exit;
  padding: 15px;
  text-align: center;
  color: black;
  text-decoration: none;
}
#carosuelProjectTitle {
  grid-area: title;
}
#carousel {
  grid-area: carousel;
}
#exitButton {
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  opacity: 0.8;
}
#exitButton:hover {
  opacity: 1;
}
#carouselBody a {
  text-decoration: none;
}
