/* Navbar */
.navbar {
  box-shadow: 2px 2px 4px 5px #ccc;
}
.navbar li {
  padding: 0px 10px;
  font-size: large;
}
.navbar ul {
  padding-right: 5%;
}
#navbarHomeButton {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin-right: 20px;
  margin-top: 5px;
}
nav {
  font-weight: bold;
  background-color: #ccc;
}

/* Footer */
footer {
  padding: 10px 0px;
}
.footer {
  text-align: left;
  padding-left: 5%;
  background-color: lightgray;
}
.footer a {
  color: gray;
  line-height: 25px;
  text-decoration: none;
}
.footer a:hover {
  color: rgb(109, 108, 108);
  text-decoration: underline;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Page Content */
.content {
 padding: 10px 5%;
 flex: 1;
}
.content h1 {
  padding: 20px 5px;
  font-weight: bold;
}

/* About */
.about-content {
  padding-left: 30px;
  padding-top: 30px;
}
.about-content a {
  color: inherit;
}
.about-content p {
  width: 50%;
}

/* Art List */
.art-icon {
  position: relative;
  width: 90%;
  max-width: 600px;
  height: fit-content;
}
.art-icon img {
  display: block;
  width: 100%;
  height: auto;
}
.art-overlay {
  position: absolute; 
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.art-icon:hover .art-overlay {
  opacity: 1;
}
.art-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding-left: 30px;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .art-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 30px;
    align-items: center;
  }
}

/* Carousel */
.carousel-inner img {
  height: 600px;
  max-width: 100%;
}