h1 {
  color: blueviolet;
}
p {
  color: red;
}

.footer {
  position: bottom;
  bottom: 0;

  width: 100%;
  height: 120px;

  text-align: left;
  padding-left: 7%;
  background-color: lightgray;
}
.footer a {
  color: gray;
}
.footer a:hover {
  color: rgb(109, 108, 108);
}
.footer p {
  color: rgb(49, 49, 49);
  margin-top: 1rem;
}
.content {
 background-color: aqua;
 padding-left: 20px;
}
.header {
 background-color: darkgoldenrod;
}
.art_image {
  display: inline-block;
  padding-left: 30px;
}
.art_image img {
  height: 200px;
  max-width: 150px;
}